.commentWrapper{
    margin: 0.2rem;
    margin-left: 5rem;
    
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    width: fit-content;

    display: grid;
    grid-template-columns: 1rem auto auto auto;
    column-gap: 0.7rem;

    background-color: var(--background);
}

.commentWrapper > p{
    color: var(--text-off2);
}

.profilePicture{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: auto;
}

.likeWrapper{
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: var(--text-off2);
    cursor: pointer;

    border-radius: 1rem;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.likeIcon{
    width: 0.9rem;
    height: auto;
}

.likeWrapper:hover > .likersList{
    opacity: 1;   
    transition-delay:0.5s;
}

.likersList{
    position: absolute;
    left: 2.4rem;
    top: -1rem;
    
    opacity: 0;
    transition: 0s opacity;

    width: auto;
    max-width: 10rem;
    min-width: 8rem;
    text-align: left;
    padding: 0.5rem;
    background-color: var(--background2);
    border: solid 1px var(--grey);
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 11px;
    color: var(--text-off2);
}

.removeComment{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 13px;
    padding: 5px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: var(--text-off2);
    cursor: pointer;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}