.card{
    box-shadow: 0px 0px 8px 1px var(--shadow);
    background-color: var(--background2);
    border-radius: 5px;
}

.button{
    width: fit-content;
    font-family: 'Roboto', 'Arial';
    font-style: normal;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 20px 6px 20px;
    color: var(--text-off);
    background-color: var(--grey);
    cursor: pointer;
    border: solid 1px var(--shadow);
    transition: smooth, 0.2s;
}

.red{ background-color: var(--red); color: var(--text-inverted); font-weight: 500;}
.green{ background: var(--green); color: var(--text-inverted); font-weight: 500;}
.grey{ background-color: var(--grey); }

.button-small{
    width: fit-content;
    font-family: 'Roboto', 'Arial';
    font-style: normal;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 10px 4px 10px;
    background-color: var(--grey);
    color: var(--text-off);
    cursor: pointer;
    border: solid 1px var(--shadow);
    transition: smooth, 0.2s;
}

.button:hover, .button-small:hover{  background-color: var(--greyer) }
.button:focus, .button-small:focus{  border: solid 1px var(--shadow); }

.green:hover, .green:focus{ background-color: var(--greenlight);}
.red:hover, .red:focus{ background-color: var(--red-light);}

.buttonInactive{
    width: fit-content;
    font-family: 'Roboto', 'Arial';
    font-style: normal;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 20px 6px 20px;
    background-color: var(--background);
    color: var(--grey-dark);
    cursor: default;
    border: solid 1px var(--grey);
}

/*
.button:hover, .button:focus{
    transform: scale(1.03);
    background-color: var(--grey);
}*/

.p{
    font-size: 14px;
    font-weight: var(--p-weight);
    margin: 0.3rem 0 0.3rem 0;
    color: var(--text-off);
}

.h1{
    font-size: 32px;
    font-weight: 400;
    color: var(--text);
}

.h2{
    font-size: 24px;
    font-weight: 400;
    color: var(--text);
}

.h3{
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
}

.input{
    position: relative;
    width: 100%;
    min-width: 150px;
    height:2rem;
    border: none;
    margin: 0px;

    color: var(--text);
    background-color: #00000000;
    border: solid var(--grey) 1px;
    border-radius: 5px;
    outline: none;
    padding: 5px;

    font-size: 1rem;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.input:focus{
    border: solid var(--greyer) 1px;
}

.input-signup{
    position: relative;
    width: 95%;
    min-width: 150px;
    height:2rem;

    background-color: var(--background2);
    color: var(--text);
    
    border: none;
    margin: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0px;
    outline: none;

    font-size: 1rem;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.input-signup-wrapper{
    border: solid var(--grey) 1px;
    border-radius: 5px;
    height: 2.4rem;

    display: grid;
    overflow: hidden;
    row-gap: 2px;
    grid-template-columns: auto 3rem;
    grid-template-rows: 2rem;
    vertical-align: middle;
}

.input-signup-wrapper:active{
    border: solid var(--grey-dark) 1px;
}

.input-signup-wrapper-password{
    border: solid var(--grey) 1px;
    border-radius: 5px;
    height: 2.4rem;

    display: grid;
    row-gap: 2px;
    grid-template-columns: auto 2rem 3rem ;
    grid-template-rows: 2rem;
    vertical-align: middle;
}

.password-strength-bar{
    margin-top: 3px;
    height: 0.5rem;
    border-radius: 3px;
    width: 100%;
}

.input-signup-password-wrapper{
    height: 2.4rem;
}

.input-signup-wrapper-confirm-margin{
    margin-top: 10px
}

.done-button{
    margin-top: 0.1rem;
    height: 0.8rem;
    width: 0.8rem;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.center{
    text-align: center;
}

.error-message-text{
    font-size: 0.8rem;
    color: red;
}

.clist-header{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: solid #b8b8b8 1px;
    width: 100%;
}

.left{
    text-align: left;
}

.inputNoBorder{
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: var(--text);
    background-color: #00000000;

    width: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

.mt-1{ margin-top: 0.5rem;}