.login-wrapper{
    width: 100%;
}

.login-title{
    margin-bottom: 1.5rem;
}

.login-card{
    display: grid;
    overflow: hidden;
    margin: auto;
    position: relative;

    row-gap: 20px;
    grid-template-rows: repeat(auto-fill, minmax(2rem, 2rem));

    margin-top: 20vh;
    width: 30vw;
    min-width: 240px;
    padding: 3rem 2rem 4rem 2rem;
}

.login-inline{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    width: fit-content;
}