.navbar{
    overflow: hidden;
    background-color: var(--navbar-bg);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;

    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 1px 8px 1px var(--shadow);
    list-style-type: none;
    z-index: 1000;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: var(--button-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
}

.right{
    position: absolute;
    right: 0px;
    padding-right: 2rem;
}

.navbar-logo{
  height: 1rem;
  width: 4rem;
  padding-right: 0px;
}