:root{
    --background: #1b1b1b;
    --background2: #222;
    --navbar-bg: #1d1d1d;

    --shadow: #b8b8b800;
    --shadow-highlight: #96969600;
    --text: #FFF;
    --text-off: #e0e0e0;
    --text-off2: #bbbbbb;
    --text-inverted: #000;
    --grey: rgb(49, 49, 49);
    --greyer: rgb(90, 90, 90);
    --grey-dark: rgb(153, 153, 153);

    --blue-link: #e0e0e0;
    --button-conf: #4ff4a2;
    --button-conf-hover: #22cf79;
    --button-text: #FFF;
    --button-text-weight: 400;
    --button-default: rgb(49, 49, 49);
    --button-default-hover: rgb(90, 90, 90);
    --red: #f7532b;
    --red-light: rgb(206, 76, 44);
    --blue: #52b8e7;

    --p-weight: 300;

    --greyGradient: linear-gradient(to right, rgb(48, 48, 48), var(--background2));
    --greyerGradient: linear-gradient(to right, rgb(59, 59, 59), var(--grey));
    
}