.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    /*background-image: url('../../assets/Pattern3.png');*/
    display: grid;
    grid-template-rows: 2.3rem auto;
}

.topBar{
    width: 100%;
    height: 2.3rem;
    border-bottom: 1px solid var(--grey);
    background-color: var(--navbar-bg);
    z-index: 1;
    position: relative;
}

.SearchPreview{
    position: absolute;
    width: 100%;
}

.innerWrapper {

    height: 100%;
    overflow-y: auto;
}

.taskListOuterWrapper{
    margin-bottom: 4rem;
}

.taskListWrapper{
    overflow-x: hidden;

    border-radius: 0.5rem;
    width: 28rem;

    box-shadow: 0px 1px 8px 2px var(--shadow);
    background-color: var(--background2);

    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titleWrapper{
    padding-left: 2.5rem;
    width: 28rem;
    border-bottom: 1px solid var(--background);
}

.taskWrapper{
    width: 28rem;
    border-bottom: 1px solid var(--background);
    cursor: default;   
}

.goldenShine{
    /*box-shadow: inset 0 0 10px #979797; */
    background-image: var(--greyGradient);
}

.goldenShine:hover{
    background-image: var(--greyerGradient);
}

.taskWrapper:hover{
    background-color: var(--grey);
}

.taskContent:hover > .removeTask, .taskContent:hover .commentIconWrapper{
    color: var(--text-off2);
}

.commentIcon{
    display: none;
    width: 0.9rem;
    height: auto;
    margin-top: 0.1rem;
}

.taskContent:hover .commentIcon{
    display: block;
}

.commentIconWrapperLen > .commentIcon, .commentIconWrapperLenNoPadding > .commentIcon{
    display: block;
}

.taskContent{
    display: grid;
    grid-template-columns: 1rem 19rem 4rem 2rem;

    width: 100%;
    margin-left: 0.5rem;
}

.commentListWrapper{
    width: 100%;
}

.commentWrapper{
    margin: 0.2rem;
    margin-left: 5rem;
    
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    width: fit-content;

    display: grid;
    grid-template-columns: 1rem auto auto auto;
    column-gap: 0.7rem;

    background-color: var(--background);
}

.commentWrapper > p{
    color: var(--text-off2);
}

.profilePicture{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: auto;
}

.authorDisplay{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.authorDisplayPlaceholder{
    margin-bottom: 0.5rem;
}

.link{
    color: var(--blue-link);
    text-decoration: none;
}

.taskNum{
    font-family: 'Roboto';
    font-weight: var(--p-weight);
    font-size: 12px;
    color: var(--text-off);
    height: fit-content;
    margin: auto;
}

.doneWrapper{
    width: 1rem;
    height: 1rem;
    margin: auto;
}

.doneBg{
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--shadow);
}

.taskName{
    font-family: 'Roboto';
    font-weight: var(--p-weight);
    font-size: 14px;
    color: var(--text-off);
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

.removeTask{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: #FFFFFF00;
    cursor: pointer;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.removeComment{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 13px;
    padding: 5px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: var(--text-off2);
    cursor: pointer;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.commentIconWrapper{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: #FFFFFF00;
    cursor: pointer;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.commentIconWrapperLenNoPadding{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 11px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: var(--text-off2);
    cursor: pointer;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.commentIconWrapperLen{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 11px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: var(--text-off2);
    cursor: pointer;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.taskUnderText{
    display: grid;
    grid-template-columns: auto auto;
}

.likeWrapper{
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    margin: auto;
    background-color: #FFFFFF00;
    border: none;
    color: var(--text-off2);
    cursor: pointer;

    border-radius: 1rem;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.likeIcon{
    width: 0.9rem;
    height: auto;
}

.likeWrapper:hover > .likersList{
    opacity: 1;   
    transition-delay:0.5s;
}

.likersList{
    position: absolute;
    left: 2.4rem;
    top: -1rem;
    
    opacity: 0;
    transition: 0s opacity;

    width: auto;
    max-width: 10rem;
    min-width: 8rem;
    text-align: left;
    padding: 0.5rem;
    background-color: var(--background2);
    border: solid 1px var(--grey);
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--p-weight);
    font-size: 11px;
    color: var(--text-off2);
}

.statusCompleted{ color: var(--button-conf); }
.statusAccepted{ color: var(--button-conf-hover); }
.statusIgnored{ color: var(--red); }
.CTWrapper{
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 15rem + 6rem);

    background-color: var(--grey);
    border: 1px solid var(--background2);
    padding: 7px 5px 7px 5px;
    box-shadow: 0px 1px 8px 2px var(--shadow);
    border-radius: 5px;
    width: 30rem;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.CTInnerWrapper{
    position: relative;

    display: grid;
    grid-template-columns: auto 5rem 5.3rem;
    column-gap: 1rem;
}

.CTFriendListWapper{
    position: absolute;
    margin: auto;
    bottom: calc(100%);
    max-width: 12rem;
    max-height: 20rem;
    overflow-y: scroll;
    background-color: var(--background2);
    border: solid 1px var(--grey-dark);

    display: grid;
    grid-template-columns: 100%;
}

.CTFriendListItem{
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--p-weight);
    background-color: var(--background2);
    color: var(--text-off);
    text-align: left;
}

.CTFriendListItemTop{
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--p-weight);
    background-color: var(--grey);
    color: var(--text-off);
    text-align: left;
}

.CTFriendListItem:hover, .CTFriendListItem:focus {
    background-color: var(--grey);
}

.CTfriendSearch{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid var(--grey);
}

.CTPreview{
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 7.5rem + 6rem);

    padding: 7px 5px 7px 5px;
    box-shadow: 0px 1px 8px 2px var(--shadow);
    border-radius: 5px;
    width: 15rem;
    overflow: hidden;
    background-color: var(--grey);
    border: 1px solid var(--background2);
    text-align: center;
    cursor: pointer;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.STWrapper{
    z-index: 10111;

    position: absolute;
    top: 0.2rem;
    width: 30rem;
    left: calc(50% - 15rem);
}

.STInner{
    position: relative;
    width: 10rem;
}

.STGrid{
    display: grid;
    grid-template-columns: 10rem auto;
    column-gap: 1rem;
    
    background-color: var(--grey);
    border: 1px solid var(--background2);
    padding: 5px 7px 5px 7px;
    box-shadow: 0px 1px 8px 2px var(--shadow);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    z-index: 11115;
    max-height: calc(22px + 0.8rem);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.STButtonGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0.5rem;

    justify-content: right;
}

.buttonText{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: var(--p-weight);
    margin: 0.3rem 0 0.3rem 0;
    color: var(--button-text);
}

.STabs{
    position: absolute;
}

.STResults{
    margin: auto;
    padding: 0.5rem;
    background-color: var(--background2);
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    width: 28rem;

    box-shadow: 0px 4px 6px 1px var(--shadow);
}

.STResults > button{
    max-height: 2rem;
}

.STResText{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    color: var(--text-off);
    font: 'Arial';
    font-weight: var(--p-weight);
}

.friendSearch{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid var(--grey);
}

.topTitle{
    position: absolute;
    top: 0rem;
    text-align: center;

    width: 12rem;
    left: calc( 50% - 6rem );
    z-index: 11200;
}

.PDWrapper{
    z-index: 10112;

    position: absolute;
    left: calc(50% + 6rem);
    top: 0.2rem;
    z-index: 2;
}

.PDGrid{
    display: grid;
    grid-template-columns: 5rem 10rem;
    column-gap: 1rem;

    background-color: var(--background2);
    padding: 7px 5px 7px 5px;
    box-shadow: 0px 1px 8px 2px var(--shadow);
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.PDPreview{
    z-index: 10111;
    position: absolute;
    top: 0.5rem;
    left: calc(50% + 8rem + 6rem);

    border-radius: 5px;
    width: fit-content;
    overflow: hidden;
}



.doneCheckmark {
    position: relative;
    height: 1rem;
    width: 1.5rem;
    vertical-align: middle;
    top: -0.45rem;
    right: 0.2rem;
}

.doneButton {
    margin: auto;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #FFFFFF00;
    border: 1px solid var(--greyer);
    cursor: pointer;
}

.doneButtonDisplay {
    margin-top: 0.1rem;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #FFFFFF00;
}