.wrapper{
    position: relative;
    width: 100%;
    min-height: calc(100vh);
    overflow: hidden;
    display: grid;
    grid-template-rows: 2.3rem auto;
}

.innerWrapper{
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
}

.topBar{
    width: 100%;
    height: 2.3rem;
    border-bottom: 1px solid var(--grey);
    background-color: var(--navbar-bg);
    z-index: 1;
}

.exitButton{
    background-color: var(--navbar-bg);
    border: none;
    cursor: pointer;
    color: var(--text-off2);

    position: absolute;
    top: 1rem;
    right: 0.5rem;
}

.center{
    width: 100%;
    position: relative;
}

.centerGrid{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto 14rem;
}

.center > h1{ text-align: center;}

/* FPreview */
.FListWrapper{
    max-width: 40rem;
    margin: auto;
}
.FPreviewWrapper{
    width: 90%;
    height: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 5px;

    border-radius: 0.5rem;
    border: solid 1px var(--shadow);
    background-color: var(--background2);

    display: grid;
    grid-template-columns: 4rem 20rem 8rem;
    column-gap: 1rem;
    align-items: center;
}

.FPreviewPicture{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.FPreviewName{
    text-decoration: none;
}

.FPreviewName > p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}

/* FRPreview */
.FRPreviewWrapper{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;

    padding: 0.5rem;
    border-bottom: 1px solid var(--grey);
}

.FRPreviewTopGrid{
    display: grid;
    grid-template-columns: 3rem auto;
    column-gap: 0.5rem;
}

.FRPreviewBottomGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.3rem;
    width: fit-content;
}

.FRPreviewPicture{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.FRListWrapper{
    height: 100%;
    overflow-y: scroll;
    width: 14rem;
    padding-left: 0.5rem;

    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--navbar-bg);
    border-left: 1px solid var(--grey);
}

.FRListPreview{
    position: absolute;
    right: 1rem;
    top: -2.1rem;
    z-index: 2;
}

/*FRForm */
.FRFormPreview{
    position: absolute;
    width: 10rem;
    top: 0.2rem;
    left: calc(50% - 5rem);
}

.FRFormWrapper{
    position: absolute;
    top: 0.1rem;
    width: 20rem;
    left: calc(50% - 8rem);

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.3rem;
    padding: 0.1rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    background-color: var(--background2);
}